*{
    margin:0;
    /* overflow: hidden; */
    padding:0;
    box-sizing: border-box;
    /* overflow: hidden; */
}
.header{
    position: sticky;
    top:0;
    height:50px;
    width:100vw;
    background-color: grey;
    /* margin:0px; */
    display:flex;
    justify-content:space-between;
    align-items: center;
padding-left:30px;
    padding-right:50px;
    margin-bottom:20px;
    z-index:1000;
    overflow: hidden;

    
}
.image{
    height:30px;
    width:80px;
}
.initial-container{
    color:navy;
    background-color:white;
    height:25px;
    width:25px;
    border-radius: 50%;
    position:relative;
    
}
.initial{
    position:absolute;
    top:8px;
    left:5px;
    font-size:12px
    

}
.profileDetails{
    display:flex;
    justify-content: space-around;
    align-items: center;
    gap:10px;
    text-decoration: none;
}
.profile-name{
    color:white;
    font-size: 14px;
}

@media screen and (min-width:768px){
    .header{
    
padding-left:100px;
    padding-right:150px;
    margin-bottom:40px;
    

    
}
.image{
    height:50px;
    width:100px;
}
.initial-container{
    
    height:32px;
    width:32px;
    
    
}
.initial{
   top:6px;
    font-size:18px
    

}

.profile-name{
    color:white;
    font-size: 16px;
}
}
